.consumerPage{
  background-color: rgba(239, 239, 239, 1);
  height: 100%;
}

.consumerContent{
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: justify;
}
