.plotNumber {
  background-color: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  height: 20px;
  width: 20px;
  margin: 0;
  position: relative;
  top: 2px;
  left: 2px;
  line-height: 20px;
}
.row-right,
.row-left {
  display: inline-block;
  font-size: 12px;
}

.row-left {
  width: 175px;
}

.row-container {
  margin: 0 5% 0 7%;
}

.activityCircle {
  border: 2px solid black;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-right: 10px;
}

.no-circle {
  display: inline-block;
}

.detailsContainer-bottom .card .row-container .no-circle .row-left,
.detailsContainer-bottom .card .row-container .row-right {
  margin-top: 0;
  margin-bottom: 0;
}
