.imageContainer {
  display: flex;
  justify-content: space-around;
  width: 96%;
  height: 500px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 20px;
  align-items: flex-end;
  background-size: cover !important;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.16);
}
