.panelContent{
  display: flex;
  flex-direction: column;
}

.panelRow-Header{
  flex-direction: row;
  justify-content: flex-start;
}

.panelPlotNumber{
  height: 40px;
  width: 40px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  position: relative;
  top: 2px;
  left: 2px;
  text-align: center;
}

.circle {
  border: 2px solid black;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: inline-block;
  margin-right: 20px;
}

.panelRow-Header-Title{
  display: inline-block;
  vertical-align: middle;
}

.panelRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.panelRow .panelRow-Title,
.panelRow-Solid-Center .panelRow-Title {
  font-size: 28px;
  font-weight: 600;
}
.panelRow .panelRow-Title .bigNumber{
  margin-top: 1px;
}

.panelRow .panelRow-Title-Success,
.panelRow-Solid .panelRow-Title-Success{
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  color: #01B8AA;
}
.panelRow-Solid .panelRow-Title-Fail{
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  color: red;
}

.normal {
  font-weight: normal;
}

.small {
  font-size: 16px;
  font-weight: normal;
  color: black;
}

.panelRow-Solid {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 24px;
  align-items: center;
}

.panelRow-Solid-Left,
.panelRow-Solid-Right{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  width: 200px;
  margin-left: 70px;
}

.panelRow-Solid-Center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.divider {
  border-left: 1px solid black;
  width: 1px;
  height: 60px;
}

.myIcon-Panel{
  font-size: 26px;
  margin-right: 10px;
}

.panelRow-Slash {
  font-size: 24px;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0;
}

.bigNumber{
  font-size: 28px;
  margin: 0;
}