<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="7.0.1" targetFramework="monoandroid81" />
  <package id="AndHUD" version="1.2.0" targetFramework="monoandroid81" />
  <package id="Com.Airbnb.Android.Lottie" version="2.5.1" targetFramework="monoandroid81" />
  <package id="Com.Airbnb.Xamarin.Forms.Lottie" version="2.5.1" targetFramework="monoandroid81" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.11" targetFramework="monoandroid81" />
  <package id="FastAndroidCamera" version="2.0.0" targetFramework="monoandroid71" />
  <package id="Microsoft.AppCenter" version="1.5.0" targetFramework="monoandroid81" />
  <package id="Microsoft.AppCenter.Analytics" version="1.5.0" targetFramework="monoandroid81" />
  <package id="Microsoft.AppCenter.Crashes" version="1.5.0" targetFramework="monoandroid81" />
  <package id="Microsoft.AppCenter.Distribute" version="1.5.0" targetFramework="monoandroid81" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="monoandroid81" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="monoandroid81" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="monoandroid81" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="monoandroid81" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid71" />
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="monoandroid71" />
  <package id="Polly" version="5.8.0" targetFramework="monoandroid71" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="monoandroid71" />
  <package id="sameerIOTApps.Plugin.SecureStorage" version="2.0.1" targetFramework="monoandroid81" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="monoandroid81" />
  <package id="SkiaSharp.Svg" version="1.60.0" targetFramework="monoandroid81" />
  <package id="SkiaSharp.Views" version="1.60.0" targetFramework="monoandroid81" />
  <package id="SkiaSharp.Views.Forms" version="1.60.0" targetFramework="monoandroid81" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="monoandroid71" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.9" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.core" version="1.1.9" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.9" targetFramework="monoandroid81" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.9" targetFramework="monoandroid81" />
  <package id="System.AppContext" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Collections" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Console" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Globalization" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.IO" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Linq" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="monoandroid81" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Reflection" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="monoandroid81" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="monoandroid81" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Threading" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="monoandroid81" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid71" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Design" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Exif" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Transition" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.CardView" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.Palette" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Build.Download" version="0.4.9" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms" version="2.5.1.444934" targetFramework="monoandroid81" />
</packages>