.app-breadcrumb {
  text-decoration: none;
}

.app-breadcrumb .ms-Breadcrumb-item:hover{
  cursor: pointer;
}

.myBreadcrumbs{
  background-color: rgba(224,224,224,1);
  margin: 0;
  padding-left: 2%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.emptyBreadcrumb{
  background-color: rgba(224,224,224,1);
  height: 50px;
}