
<div class="jumbotron" style="background-color:powderblue;" align="center">
    <p>&nbsp</p>
    <h2>Contract Code Generation Based on Patterns</h2>
    <p class="lead">This is an online tool to generate contract code.</p>
    <p>&nbsp</p>
</div>

<div class="row1" align="center">
    <div class="col-md-12">
        <h2>The Registry Pattern</h2>
        <h4 align="left"><pre>
 enum OwnershipType: { None, OnChain, OffChain }
 enum AssociatedMedia: { None, SingleElementAtCreation, SingleElementAfterCreation }
 enum IndexType: { None, PrimaryIndex, Index }
        </pre></h4>
        <form action="/Form/RegistryContractGenerate" method="post">
            <textarea name="inputJSONString" cols="100" rows="35" value =<pre>
{
    "ItemName":"Vehicle",
    "Version":2,
    "IsRegistryAddressKnownAtCreation": true,
    "Ownership":
    {
        "OwnershipType": "OnChain",
        "IsOwnerKnownAtCreation": false,
    },
    "Properties": [
      {
        "PropertyName":"LicenseNumber",
        "PropertyDataType":"string",
        "IndexType": "PrimaryIndex"
      },
      {
        "PropertyName":"VIN",
        "PropertyDataType":"string",
        "IndexType": "Index"
      },   
      {
        "PropertyName":"Color",
        "PropertyDataType":"string"
      }
    ],
    "Media":
    {
        "AssociatedMedia": "SingleElementAfterCreation"
    }
}
</textarea><br />
            <input type="submit" value="Generate code" />
        </form>
    </div>
</div>
